<!-- just testing PR functionality -->
<div class="container">
  <div class="row">
    <div class="col-9">
      <app-new-todo (addTodo)="addTodo($event)"></app-new-todo>
    </div>
  </div>

  <ng-container *ngIf="todos$ | async as todos">
    <div class="row todos">
      <div class="col-9">
        <app-todos
          [todos]="todos"
          (toggleStatus)="toggleStatus($event)"
        ></app-todos>
      </div>

      <div class="col-3">
        <app-logger
          *ngIf="latestHistory$ | async as history"
          [history]="history"
        ></app-logger>
      </div>
    </div>

    <div class="row">
      <app-status [todos]="todos"></app-status>
    </div>
  </ng-container>
</div>
